:root {
  /*
  *   Main colors
  */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --secondary-dark-color: #888;
  --secondary-light-color: #f5f5f5;
  --footer-light-color: #f5f5f5;
  --footer-dark-color: #444444;

  /*
  *   Gradient colors
  */
  --gradient-design-start: #030cfa;
  --gradient-design-stop: #01f1ff;
  --gradient-develop-start: #520979;
  --gradient-develop-stop: #ff00f1;
  --gradient-deploy-start: #01961c;
  --gradient-deploy-stop: #23ff00;
  --gradient-boost-start: #ff4d4d;
  --gradient-boost-stop: #f9cb28;

  /*
  *   CSS properties
  */
  --border-radius: 8px;
  --transition-delay: 0.3s;
}

body {
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
}
